.header {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #282c34;
  }
  
  .header h1 {
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .header h1 span {
    transition: transform 0.3s ease;
  }
  
  .header h1 span:hover {
    transform: translateY(-5px);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsive Font Adjustments */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.5em;
    }
  }
  
  .word1 { color: #ff6347; }
  .word2 { color: #4682b4; }
  .word3 { color: #32cd32; }
  .word4 { color: #ff8c00; }
  .word5 { color: #6a5acd; }
  .word6 { color: #daa520; }
  .word7 { color: #ff1493; }
  